// set custom hex colors 
$siteBgColorCustom: #F6F7F8;
$sidebarBgColorCustom: #fdf7f9;
$textColorCustom: #666260;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: #c3004f;
$headingColorCustom: #c3004f;
$bodyLinkColorCustom: #555555;
$navLinkColorCustom: #555555;
$sidebarLinkColorCustom: #555555;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #555555;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #c4001a;
$borderColorCustom: #c4beb9;
